<ukg-ignite-shell default-translation-path>
  <ukg-grid-container>
    <ukg-grid
      size="default"
      wrap="none"
      brand-bg
      style="--grid-row-container-alignment: center"
    >
      <div class="ukg-col-lg-4 ukg-col-md-4 ukg-col-sm-4">
        <ukg-button
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          icon-only
          parent-icon="menu-caret-left"
        ></ukg-button>
        <ukg-button mwlCalendarToday [(viewDate)]="viewDate" emphasis="low"
          >Today</ukg-button
        >
        <ukg-button
          icon-only
          parent-icon="menu-caret-right"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        ></ukg-button>
      </div>
      <div class="ukg-col-lg-4 ukg-col-md-4 ukg-col-sm-4">
        <h3 class="ukg_sys_text_display_md_onDark">
          {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
        </h3>
      </div>
      <div class="ukg-col-lg-4 ukg-col-md-4 ukg-col-sm-4">
        <ukg-button-toggle>
          <ukg-button
            (click)="setView(CalendarView.Month)"
            [selected]="view === CalendarView.Month"
            value="month"
            is-toggle
            >Month</ukg-button
          >
          <ukg-button
            value="week"
            is-toggle
            (click)="setView(CalendarView.Week)"
            [selected]="view === CalendarView.Week"
            >Week</ukg-button
          >
          <ukg-button
            (click)="setView(CalendarView.Day)"
            [selected]="view === CalendarView.Day"
            value="day"
            is-toggle
            >Day</ukg-button
          >
        </ukg-button-toggle>
      </div>
    </ukg-grid>
  </ukg-grid-container>

  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />
  <div
    style="
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      "
    >
      <h3>Add Event</h3>
      <div stlye="display: flex;">
        <ukg-input-container right-margin size="medium">
          <ukg-label>Title</ukg-label>
          <ukg-input id="title-input"></ukg-input>
        </ukg-input-container>
        <ukg-input-container right-margin size="medium">
          <ukg-label>Category</ukg-label>
          <ukg-select id="category-select">
            <ng-container *ngFor="let category of categories">
              <ukg-select-option
                [value]="category.attributes.name"
                [label]="category.attributes.name"
              ></ukg-select-option>
            </ng-container>
          </ukg-select>
        </ukg-input-container>
        <ukg-date-range-picker
          id="date-range-input"
          width="fit-content"
        ></ukg-date-range-picker>
        <ukg-checkbox
          id="all-day-checkbox"
          full-width="false"
          (ukgCheckboxChanged)="handleAllDayChange($event)"
        >
          All day
        </ukg-checkbox>
        <ng-container *ngIf="showTimeRange">
          <ukg-input-container>
            <ukg-label>Start time</ukg-label>
            <ukg-time-picker id="start-time" is-24-hour></ukg-time-picker>
          </ukg-input-container>
          <ukg-input-container>
            <ukg-label>End time</ukg-label>
            <ukg-time-picker id="end-time" is-24-hour></ukg-time-picker>
          </ukg-input-container>
        </ng-container>
      </div>
      <ukg-button (click)="addEvent()">Add New Event</ukg-button>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      "
    >
      <h3>Add Category</h3>
      <div stlye="display: flex;">
        <ukg-input-container right-margin size="medium">
          <ukg-label>Name</ukg-label>
          <ukg-input id="category-input"></ukg-input>
        </ukg-input-container>
        <ukg-input-container right-margin size="medium">
          <ukg-label>Color</ukg-label>
          <ukg-input id="color-input"></ukg-input>
        </ukg-input-container>
      </div>
      <ukg-button (click)="addCategory()">Add New Event</ukg-button>
    </div>
  </div>

  <h3>Current Events</h3>
  <ukg-data-table-container>
    <ukg-data-table>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let event of events">
            <td>
              {{ event.title }}
            </td>

            <td>
              {{ event.start }}
            </td>
            <td>
              {{ event.end }}
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteEvent(event)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ukg-data-table>
  </ukg-data-table-container>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>
</ukg-ignite-shell>
